.marioSky {
    color: rgb(231, 25, 25) !important;
    background-color: #4966de !important
}

.snakeBlock {
    
    background: #bceb01 !important
}

.canvasClass {
    color: rgb(207, 74, 74) !important;
    background-color: #ff9100 !important
}